.map{
    width: 100%;
    height: 100vh;
}

.mapBackButton{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;